.fijado{
	margin: auto;
	float: inherit;
}

.cuerpo{
	height: 100%;
	width: 70%;
	margin: auto;
}

.cuerpo_socket{
	padding-top: 10px;
}

#map {
        height: 500px;
        width: 100%;
       }

.contenido{
	margin-top: 10px;
}

.encabezado{
	height: 120px;
	display: block;
	position: relative;
}

.capital{
	position: absolute;
	bottom: 0px;
	left: 115px;
}

#val_mes, #val_mes_p{
	text-transform: uppercase;
	font-weight:600;
	color: deeppink;
}

#val_temp_mes, #val_temp_anual, #val_prec_mes, #val_prec_anual{
	font-size: 40px;
}

.logo{
	position: relative;
}

.contenido_navbar{
	display: block;
	margin-left: 150px;
}

.logo_img{
	width: 50px;
}
.logo_titulo{
	position: absolute;
	top: 5px;
	left: 60px;
}


#val_bandera{
	margin-top: 10px;
	width: 100px;
	height: 100px;
	background: url(../img/bandera.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
}

.negrita{
	font-weight: 500;
}

#titulo{
	position: absolute;
	top: 0px;
	left: 115px;
}

.jumbotron{
	padding-top: 20px;
	padding-bottom: 20px;
}

